# Environment variables and secrets
.env
*.env
.archive
.archive/

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
exports/logs/
.logs/
scripts/

# Media files
*.mp4
*.mp3
*.wav

*.ps1


# Output directories
exports/
temp/
docs/
config/
.logs/

# OS files
.DS_Store
Thumbs.db

# resturctured
*.dev*


